* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 22rem;
}

.Table h2 {
  margin-bottom: 0.5rem;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-button {
  margin-left: 2rem;
  padding: 5px 5px;
}
