@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 22rem;
}

.Table h2,
.TableInventory h2 {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.TableInventory {
  width: 60%;
  margin-top: 1rem;
  margin-inline: auto;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-button {
  margin-left: 2rem;
  padding: 5px 5px;
}
