* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Table {
  padding-left: 1rem;
  padding-top: 1rem;
  width: 22rem;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-input {
  display: block;
  margin: 10px auto;
  padding: 7px 0;
}

.register-button {
  margin-left: 1rem;
  padding: 2px 5px;
}
